@import "../../css/colors.css";
@import "../../css/units.css";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.editor-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EEF6FE;
    overflow: hidden;
    z-index: 9999;
}

.editor-container .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: $editor-container-header-height;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .2);
}

.editor-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $editor-container-header-height;
    background-color: #1EAAFF;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
}

.editor-container .header .icon {
    width: $editor-container-header-height;
    height: $editor-container-header-height;
}

.editor-container .header span:last-child {
    margin-right: .5rem;
}

.editor-container .paint-area {
    position: relative;
    width: 100%;
    height: calc(100vh - $editor-container-header-height);
}

.editor-container .paint-area .left,
.editor-container .paint-area .right,
.editor-container .paint-area .canvas-area {
    position: relative;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    box-sizing: border-box;
}

.editor-container .paint-area .left,
.editor-container .paint-area .right {
    position: absolute;
    top: 0;
}

.editor-container .paint-area .left::after,
.editor-container .paint-area .right::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #B4B7B8;
    transform: scaleX(0.5);
    transform-origin: 0 0;
}

.editor-container .paint-area .left {
    left: 0;
    width: $paint-area-left-width-in-app;
    padding: .5rem 1.5rem 2rem 1.5rem;
}

.editor-container .paint-area .left::after {
    right: 0;
}

.editor-container .paint-area .canvas-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - $paint-area-left-width-in-app - $paint-area-right-width-in-app);
    margin-left: $paint-area-left-width-in-app;
    background-color: transparent;
}

.editor-container .paint-area .canvas-area.is-draw-color {
    z-index: 2;
}

.paint-area .canvas-area .clone-paper-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.editor-container .paint-area .right {
    right: 0;
    width: $paint-area-right-width-in-app;
    padding: .5rem 1.25rem 2.5rem 2rem;
}

.editor-container .paint-area .right::after {
    left: 0;
}

.paint-area .right .action-content {
    position: relative;
    width: 100%;
}


.paint-area .right .action-content.disabled {
    pointer-events: none;
    opacity: .5;
}


.right .action-content .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.action-content .box .name {
    max-width: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #264165;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.action-content .box .value {
    width: 8.875rem;
    height: 2.5rem;
    color: #264165 !important;
    opacity: 1 !important;
    font-size: 1.25rem;
    border-radius: 2.5rem;
    border: 1px solid #BCCCDC;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
}

.action-content .box .value.input-value {
    padding: 0 1rem;
    overflow: unset;
}

.action-content .box .value .color {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2.5rem 0 0 2.5rem;
    border-right: 1px solid #BCCCDC;
}

.action-content .box .value .color.none-color::before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top: 2px solid #FC4144;
    transform-origin: top right;
    transform: rotateZ(-23deg) scale(1.414);
}

.action-content .box .value .arrow {
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: #fff;
}

.action-content .box .value .arrow img {
    width: 100%;
    height: 100%;
}

.right .stroke-width-selector {
    width: 100%
}

.right .stroke-width-selector .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.125rem;
    height: 2rem;
    margin: auto;
    background-color: #EEF6FE;
    border-radius: 1.25rem;
    margin-top: 2rem;
    box-sizing: border-box;
}

.stroke-width-selector .item .line {
    width: 8.125rem;
    background-color: #264165;
}

.stroke-width-selector .item.selected {
    pointer-events: none;
    border: 4px solid #4AA6FF;
    box-shadow: 0px 5px 5px 0px rgba(74, 166, 255, 0.4);
}

.stroke-width-selector .item .line.line1 {
    height: .125rem;
}

.stroke-width-selector .item .line.line2 {
    height: .25rem;
}

.stroke-width-selector .item .line.line3 {
    height: .375rem;
}

.stroke-width-selector .item .line.line4 {
    height: .5rem;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor-container-top {
    border-bottom: 1px dashed $ui-pane-border;
    padding-bottom: calc(2 * $grid-unit);
}

.top-align-row {
    display: flex;
    padding-top: calc(5 * $grid-unit);
    flex-direction: row;
}

.row+.row {
    margin-top: calc(2 * $grid-unit);
}

[dir="ltr"] .mod-dashed-border {
    border-right: 1px dashed $ui-pane-border;
    padding-right: calc(2 * $grid-unit);
}

[dir="rtl"] .mod-dashed-border {
    border-left: 1px dashed $ui-pane-border;
    padding-left: calc(2 * $grid-unit);
}

.mod-labeled-icon-height {
    height: 2.85rem;
    /* for the second row so the dashed borders are equal in size */
}

.button-group {
    padding: 0;
}

.button-group-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background: #fff;
    margin-left: 1rem;
    box-shadow: 0px 2px 2px 0px rgba(181, 184, 185, 0.3);
    transition: 0.2s;
}

.button-group-button:active {
    background-color: #1EAAFF;
}

.button-group-button-icon {
    width: 1.75rem;
    height: 1.75rem;
    vertical-align: middle;
    transition: 0.2s;
}

.button-group-button-icon:active {
    filter: brightness(0) invert(1);
}

.mod-mode-tools {
    margin-left: calc(2 * $grid-unit);
}

[dir="ltr"] .mod-margin-after {
    margin-right: calc(2 * $grid-unit);
}

[dir="rtl"] .mod-margin-after {
    margin-left: calc(2 * $grid-unit);
}

.canvas-container {
    position: relative;
    width: $canvas-container-width-in-app;
    height: $canvas-container-height-in-app;
    box-sizing: content-box;
    border-radius: .25rem;
    transform: translate3d(0, 0, 0) translateY(-2rem);
    transition: .2s;
    box-shadow: 0px 2px 1px 0px rgba(181, 184, 185, 0.21);
    overflow: visible;
}

.canvas-container.draw-color {
    transform: translate3d(0, 0, 0) translateY(0);
}

.canvas-container .hidden {
    visibility: hidden;
    transform: translate3d(0, 0, 0) translateY(-50rem);
}

.mode-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

.zoom-controls {
    position: absolute;
    bottom: -4rem;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

.zoom-controls.hide {
    display: none;
}

.color-picker-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.canvas-controls {
    position: absolute;
    bottom: 5rem;
    display: flex;
    margin-top: .25rem;
    justify-content: space-between;
}

.bitmap-button {
    display: flex;
    border-radius: 5px;
    background-color: $motion-primary;
    padding: calc(2 * $grid-unit);
    line-height: 1.5rem;
    font-size: calc(3 * $grid-unit);
    font-weight: bold;
    color: white;
    justify-content: center;
}

[dir="ltr"] .bitmap-button-icon {
    margin-right: calc(2 * $grid-unit);
}

[dir="rtl"] .bitmap-button-icon {
    margin-left: calc(2 * $grid-unit);
}

.text-area {
    background: transparent;
    border: none;
    display: none;
    margin: 0px;
    opacity: .8;
    outline: none;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    resize: none;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.button-text {
    width: 100%;
    /* Fixes button text wrapping in Edge */
}

@media only screen and (max-width: 895px) {
    .editor-container .mask {
        top: $editor-container-header-height_mobile;
    }

    .editor-container .header {
        height: $editor-container-header-height_mobile;
        font-size: .75rem;
    }

    .editor-container .header .icon {
        width: $editor-container-header-height_mobile;
        height: $editor-container-header-height_mobile;
    }

    .editor-container .paint-area {
        height: calc(100vh - $editor-container-header-height_mobile);
    }

    .editor-container .paint-area .left {
        width: $paint-area-left-width-phone-in-app;
        padding: .2rem .5rem 1.5rem .5rem;
    }

    .editor-container .paint-area .canvas-area {
        width: calc(100vw - $paint-area-left-width-phone-in-app - $paint-area-right-width-phone-in-app);
        margin-left: $paint-area-left-width-phone-in-app;
    }

    .right .action-content .box {
        margin-top: 1rem;
    }

    .action-content .box .name {
        max-width: 2rem;
        font-size: .75rem;
    }

    .action-content .box .value {
        width: 5.5rem;
        height: 1.65rem;
        font-size: .75rem;
    }

    .action-content .box .value .color.none-color::before {
        border-top: 1px solid #FC4144;
    }

    .editor-container .paint-area .right {
        width: $paint-area-right-width-phone-in-app;
        padding: .2rem .75rem 1.5rem 1rem
    }

    .right .stroke-width-selector .item {
        width: 6.6rem;
        height: 1.3rem;
        margin-top: 1rem;
    }

    .stroke-width-selector .item .line {
        width: 5.3rem;
    }

    .stroke-width-selector .item .line.line1 {
        height: .125rem;
    }

    .stroke-width-selector .item .line.line2 {
        height: .2rem;
    }

    .stroke-width-selector .item .line.line3 {
        height: .3rem;
    }

    .stroke-width-selector .item .line.line4 {
        height: .45rem;
    }

    .canvas-container {
        width: $canvas-container-width-phone-in-app;
        height: $canvas-container-height-phone-in-app;
        transform: translate3d(0, 0, 0) translateY(-1.5rem);
    }

    .zoom-controls {
        bottom: -3rem;
    }

    .button-group-button {
        width: 2.3rem;
        height: 2.3rem;
    }

    .button-group-button-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-height: 1024px) and (min-width: 1366px) { 
    .canvas-container {
        width: $canvas-container-width-max-screen-in-app;
        height: $canvas-container-height-max-screen-in-app;
    }
} 