.delete-icon.disabled {
    pointer-events: none;
    opacity: .5;
}

.delete-icon img {
    width: 2.25rem;
    height: 2.25rem;
}

.delete-icon:active {
    background-color: #1EAAFF;
}

.delete-icon:active img {
    filter: brightness(0) invert(1);
}